<div>

  <h1>Welcome to {{ title }}</h1>
  <p>Today's date: {{ today }}</p>
  <img [src]="imageUrl" alt="Angular Logo" width="100">

  <div class="container">

    <div class="divclass">
      <h3>Event Binding</h3>
      <hr />
      <p>Clicked {{count}} times</p>
      <button (click)="increment()">Click Me</button>
    </div>

    <div class="divclass">
      <h3>Two-way Binding</h3>
      <hr />
      <input [(ngModel)]="name" placeholder="Enter your name" style="border: 1.5px solid black;">
      <p>Hello, {{name || 'User'}}!</p>
    </div>





    <div class="divclass">
      <h3 style="display: flex; align-items: center; justify-content: space-between;">
        *ngIf
        <button (click)="showDetails = !showDetails" style="font-size: 10px;">
          Toggle
        </button>
      </h3>

      <hr />
      <div *ngIf='showDetails'>
        <p>This is conditionally visible.</p>
      </div>

      <div style="display: flex; flex-direction: column; align-items: center; gap: 12px;">

        <div style="display: flex; gap: 10px;">
          <button (click)="changeToRed()">RED</button>
          <button (click)="changeToYellow()">YELLOW</button>
          <button (click)="changeToGreen()">GREEN</button>
          <button (click)="toggleColorBox()">{{display?'Hide':'Show'}}</button>
        </div>

        @if (display) {
        <div [style.background-color]="boxColor" style="height: 100px; width: 100px; border-radius: 50%;">
        </div>
        }
      </div>
    </div>





    <div class="divclass">
      <h3 style="display: flex; align-items: center; justify-content: space-between;">
        Switch Case
        <div style="display: grid; grid-template-columns: repeat(2, auto); gap: 5px; margin-left: auto;">
          <button (click)="ChangeConditionally('pink')" style="font-size: 10px;">Pink</button>
          <button (click)="ChangeConditionally('gold')" style="font-size: 10px;">Gold</button>
          <button (click)="ChangeConditionally('lime')" style="font-size: 10px;">Lime</button>
          <button (click)="ChangeConditionally('green')" style="font-size: 10px;">Green</button>
        </div>
      </h3>

      <hr />
      @switch (divcolor) {
      @case ('pink') {
      <div [style.background-color]="'pink'"
        style="display: flex; justify-content: center; align-items: center; height: 100px; width: 100px; border: 1px solid black; border-radius: 50%;">
        Pink</div>
      }
      @case ('gold') {
      <div [style.background-color]="'gold'"
        style="display: flex; justify-content: center; align-items: center; height: 100px; width: 100px; border: 1px solid black; border-radius: 50%;">
        Gold</div>
      }
      @case ('lime') {
      <div [style.background-color]="'lime'"
        style="display: flex; justify-content: center; align-items: center; height: 100px; width: 100px; border: 1px solid black; border-radius: 50%;">
        Lime</div>
      }
      @default {
      <div [style.background-color]="'grey'" (mouseleave)="handleEvent($event)" (mouseenter)="handleEvent($event)" (mouseover)="handleEvent($event)"
        style="display: flex; justify-content: center; align-items: center; height: 100px; width: 100px; border: 1px solid black; border-radius: 50%;">
        Selected color not available</div>

      }
      }

      <input type="text" placeholder="Color" (blur)="handleEvent($event)"   (focus)="handleEvent($event)" (input)="changeCustomColor($event)"
        style="border: 2px solid black; margin-top: 20px;">
    </div>





    <div class="divclass">
      <h3>*ngFor</h3>
      <hr />
      <ol>
        <li *ngFor="let tech of technologies; let i = index">
          {{i + 1}}. {{tech}}
        </li>
      </ol>
      <hr />
      @for (student of students; track student.name; let i = $index) {
      <h3>
        <span>{{i+1}}.</span>
        <span> {{student.name}} is {{student.age}} old!</span>
      </h3>
      }
    </div>

    <div class="divclass">
      <h3>ngClass</h3>
      <hr />
      <p [ngClass]="{ 'active': isActive, 'inactive': !isActive}">
        This text is conditionally styled.
      </p>
    </div>

    <div class="divclass">
      <h3>ngStyle</h3>
      <hr />
      <p [ngStyle]="{ 'font-size': fontSize, 'color': color}">
        Styled with ngStyle
      </p>
    </div>

    <div class="divclass">
      <h3>Practice</h3>
      <hr />
      <button (click)="showPara = !showPara">Show/Hide the para</button>
      <div *ngIf='showPara'>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. ...
      </div>
      <ol>
        <li *ngFor="let lang of languages; let i = index">
          {{lang}}
        </li>
      </ol>
    </div>

  </div>
</div>